node_modules/
dist/
.rsbuild-dist/
build/
*.tsbuildinfo
.turbo/
pids
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_*
.node_repl_history
*.tgz
.yarn-integrity
.env*
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.DS_Store
Thumbs.db
